[2020-02-14 16:21] jsitarek opened #1 "synchrotron-self-absorption in SSC"
The current code applies the SSA only when the sed_flux is computed of synchrotron radiation, but non-absorbed synchrotron emission is used for the calculation of the IC photons from SSC, while it should be done consistently also with SSA taken into account

[2020-02-14 16:23] jsitarek opened #2 "Normalization for spectral index -2"
In the case of spectral index exactly equal to -2 the analytical normalization function results in division by zero. Either a dedicated analytical integral should be used in this case, or a simple fix it to substitute automatically -2 by a very close number e.g. -2.001

[2020-02-17 14:55] cosimoNigro commented on #2
Thanks @jsitarek, with PR #3 I fixed this.
Now you can choose whether or not to take into account the self absorption directly when initialising the `Synchrotron` object, by passing the `ssa` optional argument (default is `False`)
[code]
This allow to consider directly the attenuated spectrum in the SSC computation.
See the updated [documentation page](https://agnpy.readthedocs.io/en/latest/synchr

[2020-02-17 14:56] cosimoNigro commented on #1
Thanks @jsitarek, with PR #3 I fixed this.
Now you can choose whether or not to take into account the self absorption directly when initialising the `Synchrotron` object, by passing the `ssa` optional argument (default is `False`)
[code]
This allow to consider directly the attenuated spectrum in the SSC computation.
See the updated [documentation page](https://agnpy.readthedocs.io/en/latest/synchr

[2020-02-28 13:07] jsitarek commented on #1
Thanks @cosimoNigro ! I'm getting some divisions by 0 and a few other warnings in Python 3.6.9 (see attached notebook, I had to rename it to .txt to attach it here, strange), but either way it seems to work fine, thanks.
[synchrotron_self_compton_js.ipynb.txt](https://github.com/cosimoNigro/agnpy/files/4267157/synchrotron_self_compton_js.ipynb.txt)

[2020-02-28 13:13] jsitarek commented on #2
Thanks @cosimoNigro and sorry for late reply. It works perfectly way

[2020-02-28 13:13] #2 closed

[2020-03-04 15:46] cosimoNigro commented on #1
Hey @jsitarek, since they appear to be warning due to numerics and no major problem is encountered I am closing this issue.

[2020-03-04 15:46] #1 closed

[2020-04-06 08:31] jsitarek opened #6 "SmoothlyBrokenPowerLaw normalization"
SBPL normalization from energy density does not work (it gives an error because of wrong units).

BTW, according to the definition in the code, SmoothlyBrokenPowerLaw is not "smoothly" broken, there is a sharp break at gamma_b

[2020-04-06 21:45] cosimoNigro commented on #6
Thanks,

was this solved by PR #8?

[2020-04-07 09:07] jsitarek commented on #6
Hi, I confirm that the problem was solved, and also the name of the spectral deifnition now looks more consistent. Still I'm wondering if it is useful to keep both BrokenPowerLaw and BrokenPowerLaw2. They only differ by definition of k_e and except of this when e.g. initialized with normalization to (energy) density they will provide exactly the same results. The only different is k_e, but if you

[2020-04-07 09:07] #6 closed

[2020-04-27 09:38] jsitarek opened #12 "EC - check of peak energy"
In https://github.com/jsitarek/agnpy/blob/master/tests/basic/simple_ec.ipynb I put a few tests of the EC code comparing it with back of the envelope calculations.

in [15] (test2) compares the peak energy of the EC spectrum for Thomson case without beaming, there is a factor of 3.3 difference here, out of which I can understand a factor of 2

in [22] (test3) there is the same check done in K-N reg

[2020-04-27 09:41] jsitarek opened #13 "EC - check of peak flux"
In https://github.com/jsitarek/agnpy/blob/master/tests/basic/simple_ec.ipynb I put a few tests of the EC code comparing it with back of the envelope calculations.

in [16] (test2) compares the flux of the EC spectrum for Thomson case without beaming

in [23] (test3) there is the same check done in K-N regime (still without beaming)

in [27] (test4) the same is done for Thomson regime but with stro

[2020-05-14 08:59] cosimoNigro opened #16 "issue with mu, cosine of zenith, in absorption and radiation calculation from disk"
The range of mu used for integration changes with the position of the blob above the BH (r) according to

[code]

In the absorption though an array of mu calculated at a single r (the one occupied by the blob) is used
https://github.com/cosimoNigro/agnpy/blob/master/agnpy/absorption.py#L97
when integrating from r to infinity for the optical depth, the array of mu has to be recomputed at each value

[2020-05-14 15:46] cosimoNigro opened #17 "Crosscheck of SSC radiation"
We should try to crosscheck with different approaches the Synchrotron Self Compton radiation:

- [x] **crosscheck against the literature**;
- [x] **crosscheck against another code**;
- [ ] **crosscheck against back-of-the-envelope calculation**.

Each of the tick box will be marked once the crosscheck is obtained.
After all of them are marked we will close the issue, and be sure that the SSC compu

[2020-05-14 16:08] cosimoNigro commented on #17
the crosscheck against the literature is provided in the tutorial notebook.
https://agnpy.readthedocs.io/en/latest/tutorials/synchrotron_self_compton.html
So I am checking that box.

[2020-05-14 16:12] cosimoNigro commented on #17
The crosscheck against another code is provided in this notebook:
https://github.com/cosimoNigro/agnpy/blob/master/tests/crosschecks/jetset_ssc_xcheck.ipynb
I am checking the corresponding box.

[2020-05-14 16:13] cosimoNigro commented on #17
As for the **crosscheck against back-of-the-envelope calculation** @jsitarek has a notebook doing this in his fork, will check the box once the notebook is added.

[2020-05-14 16:14] cosimoNigro opened #18 "Crosscheck of External Compton radiation"
We should try to crosscheck with different approaches the External Compton radiation:

 - [x] **crosscheck against the literature**;
 - [ ] **crosscheck against another code**;
 - [x] **crosscheck against back-of-the-envelope calculation**.

Each of the tick box will be marked once the crosscheck is obtained.
After all of them are marked we will close the issue, and be sure that the EC computation

[2020-05-14 16:22] cosimoNigro commented on #18
As for the **crosscheck against the literature** this is done in the tutorials.
https://agnpy.readthedocs.io/en/latest/tutorials/external_compton.html
@jsitarek though pointed out that he cannot reproduce results in some old MAGIC publications
https://github.com/cosimoNigro/agnpy/blob/master/tests/crosschecks/ec_js.ipynb
we have to check this before marking the tick box.

[2020-05-14 16:23] cosimoNigro commented on #18
**crosscheck against back-of-the-envelope calculation** where started by @jsitarek in
https://github.com/cosimoNigro/agnpy/blob/master/tests/basic/simple_ec.ipynb
and commented in Issue #12 and #13.

[2020-05-14 16:26] cosimoNigro opened #19 "Crosscheck of absorption calculation"
We should try to crosscheck with different approaches the absorption calculation.

 - [ ] **crosscheck against the literature**;
 - [ ] **crosscheck against another code**;
 - [ ] **crosscheck against back-of-the-envelope calculation**.

Each of the tick box will be marked once the crosscheck is obtained.
After all of them are marked we will close the issue, and be sure that the absorption computa

[2020-05-14 16:39] cosimoNigro opened #20 "add (py)tests"
Automatised tests have to be added.
Many of the quantities computed by the code can be analytically checked, they can be embedded in pytest suites.

[2020-05-15 06:53] jsitarek commented on #17
If you mean this one:
https://github.com/cosimoNigro/agnpy/blob/master/tests/basic/test_gmax.py
it is already in the upstream branch.
The cross check consists of:
- computing the synchrotron energy density with an independent function that is merged into the emission_region.py
- converting the synchrotron energy  density into energy flux and comparing with the simulated one
- integrating the simul

[2020-05-15 06:56] cosimoNigro commented on #17
Oh right, it's in that notebook.
No leave it to me, I wanted to reorganise the tests in a set of macros that can be run each time we change the code. Thanks, this is almost done by the way.

[2020-05-19 19:58] jsitarek opened #22 "n_ph of dust torus"
I had a look at the n_ph function in the Dust Torus, and I think there is a small bug here:
in this line
https://github.com/cosimoNigro/agnpy/blob/02af6a5a1e3126ba5afdb583937586b322d96f81/agnpy/targets.py#L391
the multiplication is by 2 pi, while I think it should be by 4 pi.
I guess the problem comes from a similar function in BLR, where you had 2pi from integration over phi and you integrated ov

[2020-05-19 21:22] cosimoNigro commented on #22
Hi Julian,

I thought about it for some time and I think it should be 2 pi, this is the reasoning I did:
<img width="374" alt="Screenshot 2020-05-19 at 23 08 08" src="https://user-images.githubusercontent.com/26409711/82378577-9c999600-9a25-11ea-8377-25da29b6c281.png">

This is the formula Finke 2016 gives us for the energy density of the dust torus.
It is differential in solid angle, so we have t

[2020-05-19 23:26] jsitarek commented on #22
about 1:
I still think it should be 4 pi
imagine a simple example with the blob sitting in the middle of the ring with radius R_DT. Such a ring will work effectively the same as a point source at the same distance.
So if you have luminosity L_DT=xi_dt * L_disk you would expect energy density at the center of the ring of L_DT / (4 *pi * R_DT * c), and to reproduce this number you would need 4 pi in

[2020-05-22 22:30] jsitarek opened #23 "Drawing disk luminosity"
There seems to be some bug in the drawing of the SSDisk luminosity.
The actual luminosity depends on the assumed parameters (radii, mass of BH), while it should only depend on L_disk.
Attached a notebook showing the issue
[SSDisk_test.ipynb.gz](https://github.com/cosimoNigro/agnpy/files/4670649/SSDisk_test.ipynb.gz)

[2020-05-25 08:02] cosimoNigro commented on #22
Dear Julian,

About 1.
Sorry but I still disagree, the delta in mu just removes the integration and there is no additional factor 2 provided by the integration mu.
To convince myself (and yourself) in this document I have reworked from scratch the calculations on u, both in the galaxy and comoving frame, for most of the photon fields
https://github.com/cosimoNigro/radiation_fields_agn/blob/master/

[2020-05-25 14:09] cosimoNigro commented on #22
What I mean is that equations 6 and 7 in the documents should be the limit toward which the energy of these radiation fields tends for large distances.
Eliminating the integration in mu with the delta (as I told you I believe it is correct) I can get the energy density of the BLR (in both frames) to reduce to equations 6 and 7.
So think my implementation in the code was correct.

For the torus equ

[2020-05-25 22:14] jsitarek commented on #22
I need to go over your document carefully (too many integrals for this hour ;-) ), but I think in many things we actually agree, I also started from Eq 9 and I did the calculations only for the DT, where I was missing this factor of 2, and I think you ended up also with the same factor of 2.
The question is how to get to it from the emissivities, I suspect that there might be some non-standard def

[2020-05-26 13:59] jsitarek commented on #22
Hi,

I went through the calculations, more or less I agree with everything (some comments are embedded in the attached .pdf file)
[main2.pdf](https://github.com/cosimoNigro/agnpy/files/4682344/main2.pdf)

So let me try to summarize: there is most probably a mistake in Eq 20 in your pdf file which is Eq 91 in Finke paper, and probably the mistake is already in Eq 90 in that paper. This later on aff

[2020-05-26 14:30] cosimoNigro commented on #22
Great, thanks a lot for checking the equations.

Your summary is right and I think all the hints you have found were pointing in the direction of this issue.
And if Eq. 90 is bugged then yes, also the EC computation is.
I obtained the formula for the EC SED starting from Eq. 90.

I'll try to write to Finke, I cannot figure now how to compute the emissivity myself...

Cheers!

[2020-06-17 22:35] cosimoNigro commented on #22
I think this issue is addressed by PR #30, all the radiation energy densities are crosschecked by the case of point source behind the jet.

[2020-06-17 22:35] #22 closed

[2020-06-17 22:36] cosimoNigro commented on #20
Will close this issue when we get a code coverage at least 80%.
The work was started in PR #26.

[2020-07-13 08:19] cosimoNigro opened #33 "Add a default Blob"
The parameters of the emission region in Figure 7.4 of Dermer and Menon 2009 are repeated over and over in code, notebooks and tests.
I propose to hardcode its values in the default values of the Blob.
In this way
[code]
will automatically return a blob with the parameters in Figure 7.4 of Dermer Menon 2009.

[2020-07-15 18:15] cosimoNigro commented on #33
Changed my mind on this.
I think it's better to have the parameters set explicitly at the beginning of tests.
For the examples it's even better because users can see how to declare a Blob even if they skip the initial part of the docs.

[2020-07-15 18:15] #33 closed

[2020-07-17 12:04] cosimoNigro commented on #20
With PR #34 I have achieved 82% test coverage. Closing this.

[2020-07-17 12:04] #20 closed

[2020-08-04 19:42] pawel21 opened #38 "absorption example error"
Hi,

I have tried use absorption example [doc](https://agnpy.readthedocs.io/en/latest/absorption.html)
and I got the following error:
[code]
I guess this is due to disk not have attribute 'type', but 'name'.
Could you reploduce my error?

[2020-08-04 19:51] cosimoNigro commented on #38
Hi @pawel21,

thanks for reporting. You are exactly right, I changed the targets but forgot to update the `Absorption` module.
I planned to do it in a second moment since I had some issues to fix related to that module (e.g. Issue #16).
Will take a look this week.

Cheers!

[2020-08-04 20:00] cosimoNigro commented on #38
You are also very welcome to fix it yourself, if you feel you have time.
The fix on #16 requires a bit of thought but the one is preventing you to run the tutorial does not ;)

[2020-08-04 20:04] pawel21 commented on #38
Thank you, I will fix it.

[2020-08-06 09:36] jsitarek opened #41 "Error in computation of SSA part of the Synchr. spectrum"
The changes made in the class since May somehow broke the way how synchrotron spectrum is calculated. Please find attached a notebook where I compare the old and new version and plot also a theoretical line
[validate_synchr.ipynb.gz](https://github.com/cosimoNigro/agnpy/files/5033975/validate_synchr.ipynb.gz)

[2020-08-06 09:44] cosimoNigro commented on #41
Hi @jsitarek, thanks for reporting this, I check the SSA for the `PowerLaw` case in the test, comparing the SED with one I generated in a previous version of the code:
https://github.com/cosimoNigro/agnpy/blob/master/agnpy/tests/test_synchrotron.py#L111
I think the problem is related only to the `BrokenPowerLaw`, the analytical formula I have used might be incorrect, with respect to the previous v

[2020-08-06 09:51] cosimoNigro opened #42 "Move the constraints on the lorentz factors in another class"
The `emission_region` class is getting too long, we should consider moving the constraint on the maximum and break Lorentz factors in a new class.
This class should have the objective of returning a constraint on the physical parameters, how should we call it @jsitarek?

[2020-08-06 10:14] jsitarek commented on #41
looking through the code, I got a similar conclusion, the SSA integrant function for the broken PWL has changed considerably between the two versions of the code, but since it is pretty complicated, I prefer not to touch it myself, so if you can fix it, it would be great.

I checked also the PWL and LP, for PWL both old and new code indeed gives the same result, LP was not supported in the old cod

[2020-08-06 11:56] jsitarek commented on #42
it will complicate the API somewhat, because you would still need to pass the blob to this class, but I can do it if you want.

I'm also wondering about the name maybe "spectral_constraints" or "consistency_constraints" or simply "cooling", any preference?

[2020-08-08 12:01] cosimoNigro commented on #38
Solved by PR #39
thanks @pawel21 !

[2020-08-08 12:01] #38 closed

[2020-09-03 08:35] jsitarek commented on #42
since the topic got cold, let me then propose to use the first option on the list:
spectral_constraints
I can do the changes in mid September, so if you prefer a different name please let me know till the end of the next week.

[2020-09-14 10:01] cosimoNigro commented on #41
Hi @jsitarek,
I solved this with PR #43 and introduced some tests against SSA SEDs generate with `jetset` (check the figures in the pull request).
I am closing this.

[2020-09-14 10:01] #41 closed

[2020-10-07 14:44] cosimoNigro commented on #17
I think the introduction of the test suite addresses the pending checks in this issue.
We have now a crosscheck against the literature (Dermer 2009)

![synch_comparison_figure_7_4_dermer_menon_2009](https://user-images.githubusercontent.com/26409711/95345744-5bfac600-08bb-11eb-8637-a9ef2cd4d01f.png)

and more crosschecks against another code, specifically crosschecks on the synchrotron self-absorp

[2020-10-07 14:44] #17 closed

[2020-10-07 15:19] cosimoNigro commented on #18
I think the introduction of the test suite addresses the pending checks in this issue.
We have now the following automatic crosschecks for the external Compton radiation:
    - crosscheck for EC on Disk against the literature (Finke 2016)
![ec_disk_comparison_figure_8_finke_2016](https://user-images.githubusercontent.com/26409711/95350618-a6cb0c80-08c0-11eb-8ff7-5bbf49ee8246.png)
    - crosscheck

[2020-10-07 15:19] #18 closed

[2020-10-07 15:22] cosimoNigro commented on #42
Solved by #44, thanks @jsitarek.

[2020-10-07 15:22] #42 closed

[2020-10-19 07:27] cosimoNigro opened #48 "Add EBL absorption"
Not all VHE instruments provide de-absorbed spectral points.
We need to add EBL absorption in the `Absorption` class.
I will take care of this.

[2020-10-19 07:31] cosimoNigro opened #49 "Document and test the spectral_constraints class"
The latest class introduced by @jsitarek lacks documentation and pytest integration.
The tests are actually already in the scripts in the experiments directory, we just have to reformat them in a
`agnpy/tests/test_spectral_constraints.py` script that can be run by `pytest`.
Also the sphinx documentation has to be updated with them.

[2020-10-19 07:33] cosimoNigro commented on #16
The integration is now properly performed by changing the extreme of integrations in `mu` at each distance.
Taken care by PR #46

[2020-10-19 07:33] #16 closed

[2020-10-19 07:41] cosimoNigro opened #50 "Mismatch of agnpy absorption with Finke (2016) reference"
@jsitarek, @pawel21, let use this thread to keep discussing what I commented in PR #46.

- what do you think about the mismatch of agnpy with Finke (2016) optical depth?

- why my optical depths are consistent if I consider instead of the target a monochromatic point-like source approximating it.
Is the integration procedure wrong, so the two cases - full target and point-like source - match becau

[2020-10-21 14:15] jsitarek commented on #50
ok, I will have a look, and will also do my favourite "back-of-the-envelope" checks ;-).
one quick question, for the test with point-like source, have you put the emission region before or after the DT/BLR ? I.e. do you have head-head collisions or head-tail collisions?
I guess you did the latter, but then the energy threshold is extremely dependent on the angle to the photon, and this means what

[2020-11-01 20:02] jsitarek commented on #50
Hi,
I started looking into this, first with dust torus, since it is the simplest case. Please have a look at the attached notebook. I think the problem is not with the agnpy code, but with the check itself, because I'm getting independently virtually the same results as agnpy. Finke's Fig 14 is for 3c 454.3 and even while he is not writting this explicitely I think he is plotting it as a function

[2020-11-02 18:07] cosimoNigro opened #51 "agnpy poster at ADASS XXX"
Dear @jsitarek, @pawel21, @mwcraig,

I will be presenting `agnpy` at the [ADASS XXX](https://adass2020.es/) with a poster.
You can find it [at this link](https://www.overleaf.com/3554278186qjdsbsbbvnxj).

Let me know if you have any comment.
Small edits can be directly implemented in the overleaf, for major changes please leave a comment.
I listed all the contributors (i.e. the four of us) as auth

[2020-11-02 23:58] mwcraig commented on #51
Looks good, thanks! I changed the astropy citation to the most recent astropy paper from 2018.

[2020-11-03 09:03] jsitarek commented on #51
Hi Cosimo,

Thanks a lot for preparing it. It will give a tentative reference for the projects using it.
I made some comments (look for # JS: in the overleaf, there are 8 comments there), but they are just suggestions.

[2020-11-04 14:46] cosimoNigro commented on #51
Thanks for the comments Julian, I have implemented some of them.

Actually I am not submitting an abstract. I have another presentation at this conference and also the MAGIC meeting in the same week, so I simply could not manage to write also the abstract for agnpy (they are not mandatory).

On the other hand this month I will start to draft the agnpy paper.
In my view for the development of the c

[2020-11-12 07:42] cosimoNigro commented on #51
Today is the last day of the conference, so I am closing the issue.
Thanks for the feedback.

[2020-11-12 07:42] #51 closed

[2020-11-14 21:32] jsitarek commented on #50
a bit more update on this.
for the DT I guess this factor 2 that was included in the comparison function was the missing factor 2 in the emissivity of Finke'16, that we were discussing some time ago, right?

for the BLR I made a similar test, scaling the frequencies for the redshift, and the shape of the curve agrees then nicely, but there is a factor ~pi/2 difference between Finke and agnpy, I'm

[2020-11-19 19:26] cosimoNigro commented on #50
Many thanks @jsitarek. Indeed adding the redshift of 3C 454.3 to the blob improves the comparison for the opacity on the DT.
I was mislead by this sentence in pag. 15 of Finke 2016

![Screenshot from 2020-11-19 20-00-56](https://user-images.githubusercontent.com/26409711/99711435-10cef800-2aa2-11eb-9ace-7e245ce33802.png)

so to me it read that `z=0` for the plot with the absorptions :man_shrugging

[2020-11-22 17:41] cosimoNigro commented on #48
Solved by #55.

[2020-11-22 17:46] #48 closed

[2020-12-06 18:04] jsitarek commented on #50
Hi,

Some more updates on the BLR absorption.
Somehow the energy threshold that I'm getting does not agree with what you get.
The line in the example is 10.2 eV, the threshold E_thr = 2 m_e^2 / (epsilon * (1-cos theta)). For head-head collisions you get cos theta=-1 and you end up with E_thr = 2.56e10 eV, i.e. nu = 6.2 e24 Hz. In the frame of the observer you would get a factor of 1+z lower value

[2020-12-06 19:58] jsitarek commented on #50
Hi @cosimoNigro

When you compute the absorption from shell-like BLR in principle I see that you have have 3 integrals: over cos zenith, azimuth and distance. This in principle can be done using only 2 integrals: over the zenith angle and distance. Because of azimuthal symmetry the phi integral should trivially converge to 2 pi. Tracking the code:
_cos_psi = cos_psi(self.blob.mu_s, _mu_star, _phi)

[2020-12-23 14:14] jsitarek commented on #50
Hi @cosimoNigro
I think we should divide this issue into two issues: check of BLR absorption and check of disk absorption

Also, can you send me the notebook in which you compute the agnpy disk absorption with Finke's ?

I did some simple calculations using this disk absorption, the details are in the attached notebook
[check_tau_disk.ipynb.gz](https://github.com/cosimoNigro/agnpy/files/5735523/ch

[2020-12-23 14:50] jsitarek opened #61 "Implementation of BLR constructed of multiple shells"
One thing that we discussed yesterday during the call was to implement a BLR composed of multiple shells. I thought how to do it in the code in the most clean way, and I would suggest such a solution
1) create a new class (e.g. BLRShells) initialized only with disk luminosity
2) the new class will have store a list of SphericalShellBLR objects and we should add methods to add/remove a single line

[2020-12-26 10:06] cosimoNigro opened #64 "Mismatch of agnpy's absorption with Finke (2016) reference: SS disk"
As suggested by @jsitarek in issue #50, I am opening a different issue for each of the absorption crosschecks.
This one regards the absorption on the photon field of the SS Disk.
I obtained the opacity vs energy computed at several distances by Finke - before I was using values I had fetched with webplotdigitizer from the paper's figures.
![tau_disk_comparison_r_1e-1_R_Ly_alpha_figure_14_finke_201

[2020-12-26 10:17] cosimoNigro opened #65 "Mismatch of agnpy's absorption with Finke (2016) reference: BLR"
As suggested by @jsitarek in issue #50, I am opening a different issue for each of the absorption crosschecks.
This one regards the absorption on the photon field of the BLR.
I obtained the opacity vs energy computed at several distances by Finke - before I was using values I had fetched with webplotdigitizer from the paper's figures.
<img src="https://user-images.githubusercontent.com/26409711/10

[2020-12-26 10:29] cosimoNigro commented on #64
Copying @jsitarek from issue #50

[2020-12-26 10:32] cosimoNigro commented on #65
Copying @jsitarek 's last comment from issue # 50.

[2020-12-26 10:52] cosimoNigro opened #66 "Mismatch of agnpy's absorption with Finke (2016) reference: DT"
As suggested by @jsitarek in issue #50, I am opening a different issue for each of the absorption crosschecks.
This one regards the absorption on the photon field of the DT.
I obtained the opacity vs energy computed at several distances by Finke - before I was using values I had fetched with webplotdigitizer from the paper's figures.

<img src="https://user-images.githubusercontent.com/26409711/10

[2020-12-26 10:54] cosimoNigro commented on #50
I am closing this, it has been split in issues #64, #65 and #66.

[2020-12-26 10:54] #50 closed

[2020-12-26 11:02] cosimoNigro opened #67 "speed-up trials with numba"
As we discussed in last week's call @pawel21 will take care of trying to speed-up the SED computations using `numba`.
I suggested him to copy, in a script or in a notebook, one of the `evaluate_sed_flux` (e.g. [the synchrotron one](https://github.com/cosimoNigro/agnpy/blob/master/agnpy/synchrotron/synchrotron.py#L126) which is the simplest) and try to decorate it with numba.
After my latest modifi

[2020-12-26 11:06] cosimoNigro commented on #67
@pawel21 sometimes ago I sent you an invitation to become a collaborator of the project. It is still pending, can you search in your mailbox and accept it. If you accept it you'll have more edit privileges and I can assign you issues :smile:
![Screenshot from 2020-12-26 12-03-45](https://user-images.githubusercontent.com/26409711/103150237-70d84e80-4772-11eb-838b-a58f03cb448a.png)

[2020-12-26 11:29] cosimoNigro opened #68 "Providing a fit tutorial for a BL Lac SED"
We decided not to include any fit wrapper in the code but to simply show in a couple of tutorial notebooks how to implement one using `sherpa`. Sherpa has several minimisation routines and data handling utilities.
We should have a working example with Synchrotron + SSC for a BL Lac, I started it in [this notebook](https://github.com/cosimoNigro/agnpy/blob/master/experiments/basic/sherpa_fitting_ss

[2020-12-26 11:32] cosimoNigro opened #69 "Providing a fit tutorial for a FSRQ SED"
We decided not to include any fit wrapper in the code but to simply show in a couple of tutorial notebooks how to implement one using `sherpa`. Sherpa has several minimisation routines and data handling utilities.
We should have a working example with Synchrotron + EC + absorption for a FSRQ.
I asked @jsitarek to come up with a good MWL spectrum of a FSRQ to be fitted.

[2020-12-26 21:29] pawel21 commented on #67
Sorry, I missed it. Could you send me again? (because where I tried accept I got error: "This invitation has expired. ")

[2020-12-28 10:11] jsitarek commented on #65
The plots that you did clearly show that there is something wrong with agnpy code, when you put the emission region at the distance of the RLy alpha the angles change considerably compared to the 0.1 R Ly alpha case, but the threshold still stays the same for agnpy.
I suspect that there can be something wrong with the integration over the angles, especially when the distance gets larger the actual

[2020-12-28 13:16] jsitarek commented on #65
I think I can at least partially explain the difference that you got in those tests. The formulae 123 and 126 in Finke's paper use mu_star in the place where you use cos psi, i.e. he assumes that the source is moving along the jet axis. This is becoming very important if the emission region is located far from the BLR, please see an example
![comp_vs_angle](https://user-images.githubusercontent.co

[2021-01-07 11:25] jsitarek commented on #68
I'm working on making the one for FSRQ EC fit and going through this example for SSC fit of Mrk I realized that  you are not using SSA in the synchrotron fit. Even while it does not change the result in this particular case (see the figure below ) and makes the fiting procedure probably a tiny bit faster, for such an example I think it would be best to include explicit SSA by " ssa=True" in the ca

[2021-01-08 08:17] cosimoNigro commented on #68
Hi @jsitarek yesterday finally managed to get the fit converging with sherpa. The trick was to define the function to be minimised with the logarithm of the parameters that vary over several orders of magnitude (e.g. normalisation, Lorentz factors of the electron distribution `k_e`, `gamma_0`). Only fitting the parameters of the LogParabola electron distribution (minimum and maximum Lorentz factor

[2021-01-08 08:28] cosimoNigro commented on #68
The [notebook](https://agnpy.readthedocs.io/en/latest/tutorials/ssc_sherpa_fit.html) added in the new docs.

[2021-01-08 08:34] cosimoNigro commented on #65
Thank you @jsitarek I am checking it now, the  mistake on my side was introducing the dependency on the entire blob when initialising the absorption. That way I never know or check the parameter `mu_s`, the angle the blob forms with the line of sight, but I always fetch it from the blob object.
I think it would be good to make it explicit in the absorption definition and to remove the dependency o

[2021-01-08 09:09] jsitarek commented on #65
yes, I think it makes sense, the absorption is not connected with the emission region (unless we add at some point absorption in synchrotron radiation). so specyfying just the starting r, mu_s and z is the best solution.

[2021-01-08 13:24] cosimoNigro commented on #69
As for the other issue, let's keep it open until we are completely satisfied, we might want to discuss something else (e.g. we might want to add the absorption).

[2021-01-11 12:13] pawel21 commented on #67
Hi,

I modified code to speed-up fit with `numba`. You can find my code at branch `speed_up_fit` [branch](https://github.com/pawel21/agnpy/tree/speed_up_fit) . I created new file 'synchotron_jit`, `synchrotron_self_compton_jit.py` and `kernels_jit.py`, where I added numba code. Notebook: [ssc fit jit](https://github.com/pawel21/agnpy/blob/speed_up_fit/experiments/fit/fit_ssc_jit.ipynb) . Let me kn

[2021-01-12 18:44] cosimoNigro commented on #67
Thanks a lot @pawel21, I checked it.
Would you mind, instead of using the fitting notebook for testing your new class, to set-up a proper comparison just invoking the `sed_flux` or `evaluate_sed_flux` functions?
You can take a look into [experiments/profiling](https://github.com/cosimoNigro/agnpy/tree/master/experiments/profiling) where I already set-up some small script to do test and profiling.

[2021-01-20 13:56] jsitarek opened #74 "calculation of synchrotron radiation fails with the current code"
the following code fails, while it was running fine in the past (Jun 2020 version).
the error message is:
UnitConversionError: 'cm(5/2) Fr3 g(1/2) / (cm2 J s2)' and 'erg / (cm2 s)' are not convertible
this is probably again a similar problem like we had with transform of B into cgs units, but this time with the electric charge

import numpy as np
import math
import astropy.units as u
import astrop

[2021-01-21 17:23] pawel21 commented on #67
Hi, I added two scripts to profile the code with `numba` [profile_ec_jit](https://github.com/pawel21/agnpy/blob/speed_up_fit/experiments/profiling/profile_ec_jit.py) and [profile_ssc_jit](https://github.com/pawel21/agnpy/blob/speed_up_fit/experiments/profiling/profile_ssc_jit.py). I added numba code for EC with ring torus. Progress in time execution time is ~ 2 times faster. What do you think? So

[2021-01-26 16:23] vuillaut opened #75 "mybinder from zenodo and some notebook issues"
Hi

First point is not an issue.
I just wanted to mention that I tried to run the published version of agnpy (on zenodo) in mybinder and that it worked fine. I thought you might be interested :)
https://mybinder.org/v2/zenodo/10.5281/zenodo.4311271

A couple of things that did not work:
- `sys.path.append("/home/jsitarek/zdalne/agnpy/agnpy/")` in `notebooks/experiments/basic/SSDisk.ipynb` - you pr

[2021-01-28 09:13] cosimoNigro commented on #75
Thanks a lot @vuillaut.
The only notebooks that should be accessible to users are those in `docs/tutorials`.
Everything in `experiments` is modified and circulated between developers for testing and discussing.
Shall I remove this material completely from the repo?

By the way, checking the notebooks in the binder I forgot to make a new release with the newest documentation.
I will do it next week

[2021-01-28 09:30] cosimoNigro commented on #74
Hi @jsitarek,
thanks for reporting, very strange that is not matched by the tests.
I just pulled the latest version and executed all the tests, they work.
I will take another look executing your snippet.

[2021-01-28 09:32] vuillaut commented on #75
I would not pretend to tell you how to manage your project :)
As a user, it might be interesting to have a warning in these notebooks that they are for developpers.

No problem

[2021-01-28 15:11] cosimoNigro commented on #74
Hi @jsitarek,
to me it works with the latest version of the code.
I have cleaned your snippet, please next time post a more ordered snipppet :stuck_out_tongue_winking_eye:
[code]
![Figure_1](https://user-images.githubusercontent.com/26409711/106157460-02c4e400-6183-11eb-8bd3-c5d53c132c44.png)

Can you try:
[code]
this will install the *development* `agnpy` version in your miniconda base environmen

[2021-01-29 12:56] jsitarek commented on #74
Hi @cosimoNigro,

Thx for checking and sorry for a messy code example.
I checked the snippet again and mysteriously it works now, I have no idea what happened here, I will check again my on laptop at home, maybe I screwed up something with the code there.
I checked also the other issue #75 since it was reporting also a similarly looking problem, but it seems to be something else there.

About  sys

[2021-01-29 12:56] #74 closed

[2021-02-04 10:02] cosimoNigro commented on #67
Thanks @pawel21 and sorry for having ignored you.

Last week we had the software school and I had no time at all to take a look at this.
I had a similar improvement in execution times with numba, I remember something like half of it.

Now I see two problems:
1. a **particular one**: your fork is 277 commits behind master :fearful: and I did a lot of refactoring and improvement that perhaps will ch

[2021-02-09 10:24] cosimoNigro commented on #65
After removing the dependency on the Blob from the Absorption (PR #76) things have improved a little, not too much though, there is still some mismatch when going outside the BLR. In the `agnpy` comparison now `mu_s=1`, before `mu_s` was taken from the blob.
![tau_blr_Ly_alpha_comprison_r_1e-1_R_Ly_alpha_figure_14_finke_2016](https://user-images.githubusercontent.com/26409711/107349517-9aea9380-6a

[2021-02-09 10:26] cosimoNigro commented on #64
No updates here after PR #76, still there is this order-of-magnitude mismatch in the energy threshold where the absorption becomes relevant.

[2021-02-10 09:43] jsitarek commented on #66
the agreement looks very nice, closing

[2021-02-10 09:53] jsitarek commented on #65
please note that the comparisons with point source are very tricky, because for large distances if you assume that the observer is along the jet axis, for a point like source the angle between photons is exactly 0, which means that tau=0.
It makes more sense to compare BLR vs DT, for those large distances, there will be still some difference in angles that would affect the calculated taus, but a l

[2021-02-10 14:22] jsitarek commented on #67
Hi @pawel21 @cosimoNigro
looking at the code of Paweł, I saw that the most external functions:
compton_kernel_jit and isotropic_kernel_jit do not have any of the numba decorators, however those are being calculated over an array of electron gamma values and an array of nu values, and thus would paralellize nicely (instead of paralelizing individual subfunctions). Was it done on purpose?

Another t

[2021-02-16 17:11] jsitarek commented on #65
Hi @cosimoNigro

I did some tests comparing the DT and BLR absorption (taking T_DT = epsilon_lin * mc^2 / k_B)

1) if distance/radius = 0.1 and mu_s =1 tau_BLR = tau_DT *pi/2 - this might come from different geometry

2) if distance/radius = 1.1 and mu_s =1 tau_BLR is a bit higher then tau_DT and goes down to lower energies - this is reasonable because the tangential to the BLR gives you better ab

[2021-02-17 11:18] jsitarek opened #78 "wrong sign of mu_star_shell"
https://github.com/cosimoNigro/agnpy/blob/489f1cc3bfb16d5dbdec91fb0eef604d1e70e5c1/agnpy/utils/geometry.py#L31-L45

this part of code is Eq 78 in Finke'16 paper (in the description there is also a small mistake mentioning Eq 76 instead),
however the formula in the paper is for mu_star^2, and the code is simply taking a sqrt of it, while the value of mu_star can be also negative for parts of the BL

[2021-02-17 13:19] jsitarek commented on #65
I've rerun the dist / radius = 0.1 case with the code of PR #79
![blr_vs_dt_ratio0 1_mus1](https://user-images.githubusercontent.com/33022433/108209551-b9850600-712a-11eb-9daf-cfb5f135b676.png)
and now it looks much more reasonable, because of the part of the shell before the blob the absorption is stronger and also the threshold energy more or less agrees with the theoretical one (6.2e24 Hz for B

[2021-02-17 15:39] jsitarek commented on #65
Hi @cosimoNigro , after this PR #79 change I also checked the actual comparison with Finke's points.

![finke_blr_0 1](https://user-images.githubusercontent.com/33022433/108226117-dfb3a180-713c-11eb-92f5-992a18f18436.png)
![finke_blr_1 03](https://user-images.githubusercontent.com/33022433/108226114-dfb3a180-713c-11eb-9c2a-14baf872874c.png)
![finke_blr_3 16](https://user-images.githubusercontent.c

[2021-02-17 15:49] jsitarek commented on #66
sorry for reopening it, but I found something strange in DT absorption while investigating the BLR one.
![finke_dt_1 03](https://user-images.githubusercontent.com/33022433/108228583-489c1900-713f-11eb-85f1-665d0a8a0930.png)
![finke_dt_10](https://user-images.githubusercontent.com/33022433/108228584-4934af80-713f-11eb-8c63-6c89d72470b7.png)
![finke_dt_100](https://user-images.githubusercontent.com/

[2021-02-17 17:24] jsitarek commented on #66
Following the discussion that we had today with @cosimoNigro I updated the plots with the proper R_dt= 1.6e19 cm (using formula 96 from the Finke'16 paper). If the Finke's points are scaled up by a factor of 2 (an issue in that paper that we discussed earlier), and are corrected by redshift of then I get a perfect agreement like Cosimo in his plots. We can close again the issue. However I think it

[2021-02-18 15:51] jsitarek opened #80 "absorption (DT) for gamma rays moving with an angle to the jet axis"
HI @cosimoNigro

I had a look into implementing a proper calculations of the absorption for a case of mu_s != 1 (moving at an angle to the jet axis)
I want to test is carefully because there is a lot of fun with geometry, and different "phi" angles, but you can have a look at the current code in this branch if you have any comments about the code structure:
https://github.com/jsitarek/agnpy/tree/a

[2021-02-18 15:54] jsitarek commented on #64
Hi @cosimoNigro
something came to my mind, in addition to those problems that we have with the disk luminosity, do you compute those optical depths on disk radiation for movement along the jet axis, or at the angle corresponding to the jet angle. This is a similar problem like we had with other absorption classes, but for the disk this is much more important and can produce really huge differences

[2021-02-19 13:59] jsitarek commented on #80
Hi @cosimoNigro I'm happy enough with the code to make a PR #81

[2021-02-23 13:18] cosimoNigro commented on #80
Hi @jsitarek,

please remember to provide some formulas explaining the newly added calculations, especially since they are not available in any other reference.

[2021-02-23 13:20] cosimoNigro commented on #78
I think this is taken care of by #81 that - incidentally - merged also #79 along with it.

[2021-02-23 13:20] #78 closed

[2021-02-23 15:00] jsitarek commented on #80
[absorption_mu_s.pdf](https://github.com/cosimoNigro/agnpy/files/6029677/absorption_mu_s.pdf)
[absorption_mu_s.txt](https://github.com/cosimoNigro/agnpy/files/6029682/absorption_mu_s.txt)
here it is please let me know if it is fine or do you need anything more.
While preparing this I realized that I wrote something wrong in the code, i.e. I set phi=0 for point source thinking that it does not matt

[2021-02-23 15:28] #80 closed

[2021-02-26 20:32] CerenOzen opened #83 "Unit Conversion Error (synchrotron radiation)"
I am getting an error with the following output.

[code]

[2021-02-26 20:53] CerenOzen opened #84 "Shakura Sunyeav Disk (Energy Densities)"
hi,

I am getting an error with the following output.

[code]

[2021-03-01 08:45] cosimoNigro commented on #83
Hello @CerenOzen,

Actually a similar error was reported in issues #74 and #75. But the tests do not detect it, nor I have it when I run the notebooks.
I made [a new release on `pip`](https://pypi.org/project/agnpy/). Can you try to uninstall your current version (`conda uninstall agnpy` or `pip uninstall agnpy`) and install the new one (`pip install agnpy`).

If you still have this error can you

[2021-03-01 21:34] CerenOzen commented on #83
Hi @cosimoNigro

I installed the new version of agnpy however I still got same error. I am using 3.1 astropy version.

Thank you.

[2021-03-01 21:38] CerenOzen commented on #84
Hi @cosimoNigro

I updated but again, I got same error. I am using 3.1 astropy version.

Thanks.

[2021-03-02 08:05] cosimoNigro commented on #83
I see, that's a quite old version. Can you try to upgrade your astropy?
I am currently using `4.2`.
Just
[code]
or
[code]
and check again that the version is updated to `>4`.
After upgrading astropy, re-install agnpy.
I trust this will fix it,
Cosimo

[2021-03-02 19:44] CerenOzen commented on #83
Yeahh!!
After astropy updating, it fixed.
Thank you.

Ceren

[2021-03-03 07:34] #83 closed

[2021-03-03 07:34] cosimoNigro commented on #84
I guess this was also fixed by the astropy update, was it?

[2021-03-04 06:41] CerenOzen commented on #84
Yes it was also fixed. :)

Thank you.
Ceren

[2021-03-04 07:08] #84 closed

[2021-03-10 16:53] jsitarek opened #86 "improving multidimentional integrals?"
I think it would be good to improve how the integrals are being done in agnpy, for the moment integration is done with simple traperoid integration in each dimention one by one over a predefined grid. There is no check if the integration has converged, and the points are not selected more densely in the regions where the integrant is varying fast. It would be good to use a dedicated multidimention

[2021-03-11 17:28] cosimoNigro commented on #86
Hi @jsitarek,

I already thought about this, this is why I left a [`integrator` parameter](https://github.com/cosimoNigro/agnpy/blob/master/agnpy/synchrotron/synchrotron.py#L200) in all the functions performing SED or absorption calculation.

At the moment you can basically choose between two methods: the `np.trapz` we actually use in most of the functions and this [`trapz_loglog`](https://github.

[2021-03-11 17:36] cosimoNigro commented on #75
Hi @vuillaut,

I re-organised the material in the sub-directories and the installation dependencies to be sure all the notebooks can be run on binder.
In the main page there is now [a link to launch the repo on binder](https://github.com/cosimoNigro/agnpy#agnpy-binder).
The only tutorial not working is the external Compton one since it requires more memory than the one provided by Binder (2 GB - i

[2021-03-11 17:36] #75 closed

[2021-04-23 11:10] cosimoNigro commented on #66
@jsitarek can we close after #89?

[2021-04-23 11:10] cosimoNigro commented on #65
@jsitarek can we close after #89?

[2021-04-23 12:42] cosimoNigro commented on #64
Hello @jsitarek,

in an attempt to revive this long-standing issue I created [this notebook](https://github.com/cosimoNigro/agnpy/blob/master/experiments/basic/disk_absorption_dermer_finke_comparison.ipynb) re-implementing from scratch the formula for the absorption from Finke 2016 and comparing it against another formula, for the same absorption, obtained by Dermer et al, in a 2009 paper (see ref

[2021-04-23 17:21] cosimoNigro opened #90 "Calculation of BLR absorption fails for r = R_line"
The calculation of the absorption (and I presume also of the External Compton) on the `SphericalShellBLR` fails when `r=R_line`.

This is due to the definition of `x` (the distance from the reprocessing material to the blob), from Finke 2016:
`x^2 = r^2 + R_line^2 - 2 * r * R_re * mu_re `
where
- `r` =  height of the blob above the BH;
- `R_re` = radial coordinate of the reprocessing material;
- `

[2021-04-25 10:18] jsitarek commented on #66
yes, closing...

[2021-04-25 10:18] #66 closed

[2021-04-25 10:21] jsitarek commented on #65
closing

[2021-04-25 10:21] #65 closed

[2021-04-25 10:33] jsitarek commented on #90
Hi, I think this is the same thing which I mentioned in the second paragraph of #86 and this can also get triggered in other cases.
I can make a fix, but there are a few different ways to do it:
1) set the value of integrant to 0 (or some bordering value) for the points where you end up with position ~R_line
2) shift the actual integration points that are ~R_line a bit e.g. 0.1 %)

I think the sec

[2021-04-26 09:58] cosimoNigro commented on #90
I agree, the second solution is easier, and probably also computationally faster.

[2021-04-28 11:19] jsitarek commented on #90
added a PR #91 that should solve this.
I also made a fix for the case of mu_s !=1 - in that case we would not end up with nans usually because you would need to hit not only position of R, but also of the angles, but either way if one of integration points lies on the BLR sphere it can make the integration messy so I shifted those points as well.

There might be also an issue with the IC part, I g

[2021-04-28 12:46] jsitarek commented on #64
Hi @cosimoNigro
I started looking into this.
You wrote that the formulae from Dermer and Finke match, however I think this is not the case. There are two errors in the last cell, you plot twice Finke's points, and also Dermer's formula is evaluated from R_in to R_in (resulting in zeros), rather from R_in to R_out

[2021-04-28 12:50] cosimoNigro commented on #64
ops, sorry I will correct it asap!

[2021-04-28 15:36] jsitarek commented on #64
some more thoughts about this.
I was trying to follow the R, l, mu, .... dependences of the density of photons
basically epsilon ~ T ~ R^-3/4. The total amount of energy radiated goes as T^4, but you need to divide by epsilon so you end up with T^3, the BB emission is angle dependent and go as ~mu, and on top of this you should have 1/x^2 from the R^2 law.
and integration is over R, so dS = 2pi R

[2021-04-28 18:24] jsitarek commented on #64
I've spend some more time on that, and here is the update.
I tried to implement it from scratch using Dermer's scalings, but integrating in log space of R and also computing the photon density explicitely. I got something that have the shape of your Finke's implementation, but missing a 2/3 factor (I'm not sure if I got all the 4 pi's right). Nevertheless the main problem, i.e. shifts in energy w.

[2021-05-06 07:53] #90 closed

[2021-05-08 10:36] cosimoNigro commented on #13
Can we close this? It's been a while since we get a good agreement for all the EC cases...

[2021-05-08 10:54] cosimoNigro opened #93 "making 0.1.0?"
If we were to follow the `major.minor.patch` schema, it's been a while we are just "patching" `agnpy` :grin:.
I think we have gathered a set of stable and cross-checked features and we can step-up to our first "minor" release.

What do you think @jsitarek?

Two things I would like to add to our first minor release:
- a [citation.cff](https://citation-file-format.github.io/) giving instructions on

[2021-05-10 11:50] jsitarek commented on #12
I updated the old notebook in PR #94 reruning it with the current code.
The old differences in photon density are gone now.
In this notebook there was a check of peak positions in which there was a difference of a factor of 3.3 w.r.t. theoretical calculations for the case of nearly stationary blob - out of this factor I could explain a factor of 2.
For the fast moving blob the agreement was much b

[2021-05-10 11:54] #13 closed

[2021-05-13 10:29] jsitarek commented on #64
Hi @cosimoNigro,

I have some more news about this disk absorption.  I still have no idea why there is a difference w.r.t. Dermer's and Finke's papers (except of what I wrote in the previous post). I also did not investigate this factor of 2/3, because it is small comparing to those differences.
I did however some comparisons with an old paper https://ui.adsabs.harvard.edu/abs/2008MNRAS.391..624S/

[2021-05-14 14:08] jsitarek commented on #93
Hi @cosimoNigro
sorry for a late feedback on this.
while we still have some issues to understand, indeed most of the code is very well tested and stable, so I fully support making 0.1.0

[2021-05-19 10:21] jsitarek commented on #86
Hi @cosimoNigro
I realized one more problem with those integrals. They take really increadible amount of system memory.
If you want to compute EC SED over 500 gamma values, 100 mu values and 50 phi values for 100 energies, even with 4 bytes per number it would already end up in 1 GB of memory, and I think in reality python is using much more, because during tests I was running out of memory of a 1

[2021-06-29 08:41] cosimoNigro commented on #93
Made our first minor release!

[2021-06-29 08:41] #93 closed

[2021-07-05 11:56] jsitarek opened #99 "problem with EBL absorption"
I tried to plot EBL absorption from agnpy, however got really strange results.
See the attached notebook.
[ebl_absorption_check.ipynb.gz](https://github.com/cosimoNigro/agnpy/files/6763974/ebl_absorption_check.ipynb.gz)

I think that the underlying fits files with the EBL models are buggy.

In addition there are two problems:
1) if one tries to interpolate beyond the z range (or energy range) of t

[2021-07-16 07:43] cosimoNigro opened #100 "make SED tables included in data uniform"
Some SED tables we have present energy and some frequency columns.
I will make them uniform with frequency against energy flux.

[2021-08-02 11:02] cosimoNigro commented on #100
Solved by #102.

[2021-08-02 11:02] #100 closed

[2021-08-02 14:43] cosimoNigro opened #103 "Add an example concerning absorption on synchrotron photons in the docs"
We added the absorption on synchrotron photons to the code and the tests, but not to the docs.
A paragraph should be added in the Absorption section.

[2021-10-12 08:02] jsitarek opened #104 "renormalization in calculation of DT flux"
Investigating the DT SED computation I realized that this part is quite problematic. If you  compute DT SED for nu that are not sorted (e.g. if you generate lambdas and convert them to nu) the value will be wrong (I got negative). Also if the calculations are done only at course frequencies (or not covering the whole emission) this renormalization can screw up the integral emission. BB emission ca

[2021-11-23 14:14] cosimoNigro opened #107 "Run a spell-check on the tutorial notebooks"
Some typos have been found in our notebook tutorials, will take care of finding and correcting them.

[2021-11-29 15:48] adonath commented on #107
We have recently made good experience with https://github.com/codespell-project/codespell.

[2021-12-13 11:35] cosimoNigro commented on #107
Fixed by @mwcraig in #112.

[2021-12-13 11:35] #107 closed

[2022-03-01 15:45] cosimoNigro opened #115 "Introducing a Particle class"
We discussed the best strategy to introduce hadronic processes and came to the conclusion that we will start with introducing a `Particle` class describing either an electron or a proton energy distribution.

This will considerably simplify also the `Blob` class. The latter now takes care e.g. of
- setting the particle spectrum
https://github.com/cosimoNigro/agnpy/blob/master/agnpy/emission_region

[2022-03-04 16:35] garciagenrique opened #116 "Incompatibility between astropy 5.0.1 and agnpy 0.1.8 ?"
Hi,
I found and error when installing `agnpy` from `pip`, that brings the latests version of `astropy` (v0.5.1).

When importing `agnpy` it raises the following error (see below). I downgrade `astropy` to 4.2 and `agnpy` can be imported correctly.

[code]

[2022-03-04 17:37] cosimoNigro commented on #116
Thanks @garciagenrique, I will look into it.

[2022-03-14 15:07] guillaumegrolleron opened #117 "bug when simulation of gammapy datasets with an agnpy spectrum model"
When I have tried to simulate observations with a SpectrumDatasetOnOff.fake() with a Agnpy  Spectral Model defined as a wrapper of gammapy SpectralModel,  an error has occurred :

`ValueError       (note: full exception trace is shown but execution is paused at: _run_module_as_main)
operands could not be broadcast together with shapes (30,10) (300,)
`

Thus, the problem appears when program tries

[2022-03-14 16:45] cosimoNigro commented on #117
Thanks a lot for reporting this @guillaumegrolleron.

I am surprised that the `epsilon` array has dimension (30, 10)...
It is converted from the `nu` that should be a one-dimensional array.
https://github.com/cosimoNigro/agnpy/blob/master/agnpy/synchrotron/synchrotron.py#L174

You encounter this problem only for the synchrotron SED?
This is the same problem you encountered in the fitting notebook,

[2022-03-15 11:23] guillaumegrolleron commented on #117
Thanks for your answer @cosimoNigro
In fact this bug is not specific for synchrotron because I have the same with inverse Compton.
This problem doesn't appear when I fit but when I try to simulate fake datasets, indeed when I use the `fake()` method, `npred_signal()` is called, which calls `compute_flux_spectral()` and then `integral()` and `integrate_spectrum()`.
In this function the evaluator of

[2022-03-24 16:38] pawel21 opened #118 "Absorption calculation stability"
Hi,

I deal with absorption from multi shell in BLR.
I found strange behaviour: when increasted _r_ - distance of the blob from the Black Hole, absorption sometimes it increases sometimes it increases or sometimes go to very very low value.
Here plot absorption vs _r_ for E = 1e5 MeV.
![obraz](https://user-images.githubusercontent.com/8089538/159965090-81c523a3-bf94-4b7c-8b0e-5daf81d8bade.png)

I

[2022-08-10 15:26] cosimoNigro commented on #69
It's been a while that we have proper examples for fitting, so I am closing this.

[2022-08-10 15:26] cosimoNigro commented on #68
It's been a while that we have proper examples for fitting, so I am closing this.

[2022-08-10 15:26] #68 closed

[2022-08-11 11:07] cosimoNigro opened #122 "Add sherpa and gammapy among the dependencies (add them to install_requires in setup.py)"
So far we had only `numpy`, `scipy`, `astropy` and `matplotlib` among the dependencies.
These are specified in `setup.py` and automatically downloaded and installed when `agnpy` is installed via `pip` or `conda`.

After #119, I have introduced `gammapy` and `sherpa` wrappers for the `agnpy` radiative models.
This means that there are now classes in the new `agnpy.fit` submodule that are built on `

[2022-08-11 11:14] cosimoNigro opened #123 "Add a CITATION.cff file?"
Now that we have both the release paper and the zenodo we should add clear citation instructions.

We might use this [citation file format](https://citation-file-format.github.io/).

It seems a good option, but it seems also that it is automatically parsed by zenodo, so we should check that there are no conflicts with the current `.zenodo.json` file.

[2022-08-12 10:44] cosimoNigro commented on #122
CC @registerrier.

[2022-08-16 14:21] jsitarek commented on #122
Hi @cosimoNigro

if you want to avoid having those dependancies as required I guess you can put those gamma/sherpa imports in try/except block
[code]

nevertheless, sherpa and gammapy are already in the environment file provided with agnpy, so having them also included in the default setup should not be a big issue. I made a quick check of the size of environment without them (1.2 GB) and with the

[2022-08-17 17:06] cosimoNigro commented on #122
Thanks a lot for checking @jsitarek.
If the change in size of the environment is minimal, then I think I will just add `sherpa` and `Gammapy` to the dependencies and make the new release.
Will do the release tomorrow.

[2022-08-22 15:48] cosimoNigro commented on #122
Solved by #125.

[2022-08-22 15:48] #122 closed

[2022-08-23 15:11] cosimoNigro commented on #117
Hello,

@guillaumegrolleron, first of all I am very sorry for such a slow reaction.
Finally I incorporated the sherpa and gammapy wrappers in the docs. Could you retry now and tell me if you have the same problem?

If that's the case, in the source code of the gammapy wrapper I left an inline comment
https://github.com/cosimoNigro/agnpy/blob/master/agnpy/fit/gammapy_wrapper.py#L178
pointing to thi

[2022-09-06 06:35] LL-RL opened #127 "TypeError: __init__() got an unexpected keyword argument 'is_norm'"
I have run ssc_gammapy_fit.ipynb in my jupyterlab, but I get the following error, I don't know how to solve this problem

<img width="701" alt="屏幕截图 2022-09-05 211743" src="https://user-images.githubusercontent.com/69756426/188563501-9ce5feb1-d110-4257-9d38-793421843c14.png">

[2022-09-06 06:38] cosimoNigro commented on #127
Hello @LL-RL, which version of gammapy are you using?
If you use a version 0.20.1 you should not see this error.
Can you try to update Gammapy in your environment?

[2022-09-07 15:43] LL-RL commented on #127
Hello, thank you for your answer. I have sloved the problem based on your answer.

---Original---
From: "Cosimo ***@***.***&gt;
Date: Tue, Sep 6, 2022 14:38 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [cosimoNigro/agnpy] TypeError: __init__() got an unexpectedkeyword argument 'is_norm' (Issue #127)

Hello @LL-RL, which version of gammapy are you using?
 If you use a versio

[2022-09-07 15:44] cosimoNigro commented on #127
Great, I will close the issue then.

[2022-11-03 15:32] pivosb commented on #117
Just to complement the discussion:
Following this tutorial
https://agnpy.readthedocs.io/en/latest/tutorials/ssc_gammapy_mcmc_fit.html
I was trying to use instead of just FluxPointsDataset, a MapDataset (Fermi data) and a SpectrumDatasetOnOff (VERITAS data)
and I was getting the same error, and found this solution. However, I would get the same error in the SSC calculation, not only synchrotron. I

[2022-11-03 16:59] cosimoNigro commented on #117
Hello @pivosb, thanks for reporting this.

Are you using the latest version with the wrappers incorporated.
If so, did you try the solution I commented here in the code
https://github.com/cosimoNigro/agnpy/blob/master/agnpy/fit/gammapy_wrapper.py#L178

This problem never occurred to me while fitting flux points, it seems it is occurring either when using a `MapDataset` or doing a simulation, so I

[2022-11-03 17:11] pivosb commented on #117
Hi @cosimoNigro.

Yes, I am. And yes, I first tried the solution suggested in
https://github.com/cosimoNigro/agnpy/blob/master/agnpy/fit/gammapy_wrapper.py#L178

And you are correct, the problem is not with the flux points. It is specifically with any other dataset, and the error occurs before L178 in the wrapper. It happens when the code calls

        sed_synch = Synchrotron.evaluate_sed_flux(

[2022-11-03 17:19] cosimoNigro commented on #117
Ok, thanks so it seems that my suggested fix will not help as the error occurs at the `evaluate_sed_flux` function calls.

@pivosb would you mind fixing it in a PR?

[2022-11-07 14:17] pivosb commented on #117
@cosimoNigro

Yes, I can try! I will open a PR soon

[2022-11-17 12:24] cosimoNigro commented on #115
Introduced new particle distributions in #124, documented in #129

[2022-11-17 12:24] #115 closed

[2022-11-17 15:33] cosimoNigro opened #130 "Bullet points of lists disappear on Read the Docs"
I have typed bullet points in several pages.
Despite they appear correctly when I build locally, they are not displayed on ReadTheDocs.
E.g.: https://agnpy.readthedocs.io/en/latest/spectra.html

The different particle distributions should have a bullet to the left of their names.

I tried the solution pointed out here
https://stackoverflow.com/questions/67542699/readthedocs-sphinx-not-rendering-bu